<div class="chatbot-container">
  <div class="row">
    <div class="col-md-3">
      <app-navigation></app-navigation>
    </div>
    <div class="col-md-9">
      <h1>Chatbot</h1>

  <div class="chat-window">
    <div *ngFor="let message of messages" class="message" [ngClass]="{'user': message.isUser, 'bot': !message.isUser}">
      {{ message.text }}
    </div>
  </div>
  <div class="input-area">
    <input type="text" [(ngModel)]="userInput" placeholder="Digite sua mensagem..." (keyup.enter)="sendMessage()" />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
