<div class="w-100 h-100 row align-items-center">
    <div class="col-4 mx-auto">  
      <div [formGroup]="this.loginForm" (keydown.enter)="checkForm()">


          <img src="https://t3.ftcdn.net/jpg/05/12/70/90/360_F_512709090_3J9HZRZg4GmB8S6i0yY9wQ6Z8X6Z8X6Z.jpg" alt="Logo" class="mb-4" style="width: 100px;">

          <div class="form-group mb-3">
              <label for="username">Usuário</label>
              <input type="text" class="form-control" id="username" formControlName="username" placeholder="Digite seu usuário">
          </div>

          <div class="form-group mb-3">
              <label for="password">Senha</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Digite sua senha">
          </div>

          <button class="btn btn-primary w-100 mb-2" (click)="checkForm()">Entrar</button>
          <button class="btn btn-secondary w-100" (click)="register()">
            Cadastrar
          </button>
      </div>
    </div>
</div>
