.task-management-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #292929;
}

h1 {
  color: #ffffff;
  margin-bottom: 30px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.row {
  margin-top: 30px;
}
