
<div class="w-100 h-100 row align-items-center">
    <div class="col-4 mx-auto">  
      <div [formGroup]="this.registerForm" (keydown.enter)="checkForm()">

  
          <img src="https://t3.ftcdn.net/jpg/05/12/70/90/360_F_512709095_o0bDOmbAUKf9ltb8Pw9eYdrkriemZ822.jpg" class="mb-4" height="57" width="72"/> 
          <h1 class="h3 mb-3 fw-normal">Faça seu registro!</h1>
          <div class="form-floating ">
              <input type="string" class="form-control" id="floatingInput" placeholder="Username" formControlName="username"/>
              <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
              <input type="string" class="form-control" id="floatingInput" placeholder="Email" formControlName="email"/>
              <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
              <input type="string" class="form-control" id="floatingInput" placeholder="Cargo" formControlName="role"/>
              <label for="floatingInput">Cargo</label>
          </div>
          <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="Senha" formControlName="password"/>
              <label for="floatingInput">Senha</label>
          </div>
          <button class="btn btn-primary w-100 py-2" (click)="checkForm()">Sign in</button>
  
      </div>
    </div>
  </div>
